

<div ng-show="$ctrl.profile">
     <p>Show person's details here...</p>
</div>

<div ng-hide="$ctrl.profile" ng-cloak>
    <p>Preloader</p>
</div>


<div  ng-cloak class="ng-cloak">
    <header class="header">

        <div class="logo">
            <a href="" class="logo__link">
                <h1 class="logo__title">Gandalf</h1>
                <img src="img/logo.svg" alt="Gandalf" class="logo__img">
            </a>
        </div>

        <div class="setting">
            <ul class="setting__list">
                <li class="setting__item">
                    <a href="" class="setting__link">
                        <img src="img/profile.png" alt="Profile" class="setting__img">
                        <span class="setting__text" ng-bind="$ctrl.profile.profileName"></span>
                    </a>
                    <div class="setting-dropdown">
                        <ul class="setting-dropdown__list">
                            <li class="setting-dropdown__item">
                                <p class="setting-dropdown__name">{{$ctrl.profile.profileName}}</p>
                                <p class="setting-dropdown__mail" ng-bind="$ctrl.profile.email"></p>
                            </li>
                            <li class="setting-dropdown__item">
                                <a href="" class="setting-dropdown__link">Edit profile</a>
                            </li>
                            <li class="setting-dropdown__item">
                                <a href="" class="setting-dropdown__link" ng-click="$ctrl.ss()">Sign Out</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

    </header>
</div>

<main class="project-create">
    <div class="project-create-wrapper">
        <div class="project-create-block">
            <div class="project-create-title">
                <h1 class="project-create-title__text">Create new project</h1>
                <p class="project-create-title__description">It's time to create project</p>
            </div>
            <form class="project-create-form" name="projectCreateForm">
                <input class="project-create-form__title"
                       ng-model="$ctrl.project.title"
                       type="text"
                       placeholder="Project title"
                       required="required">
                <input class="project-create-form__description"
                       ng-model="$ctrl.project.description"
                       type="text"
                       placeholder="Project description"
                       required="required">
                <input
                        class="project-create-form__button"
                        ng-disabled="projectCreateForm.$invalid"
                        type="submit"
                        value="Create">
            </form>
        </div>
    </div>
</main>