<div class="thank">
    <div class="thank-wrapper">
        <div class="thank-logo">
            <a href="/" class="thank-logo__link">
                <img src="img/logo.svg" alt="logo" class="thank-logo__img">
            </a>
        </div>
        <div class="thank-title">
            <h1 class="thank-title__text">Registration completed successfully!</h1>
            <h5 class="thank-title__text">Have a nice work!</h5>
            <h5 class="thank-title__text"><a class="thank-title__link" ui-sref="profile.sign-in" href="">Sign in to your account!</a></h5>
        </div>
    </div>
</div>