<div class="sign-in">
    <div class="sign-in-wrapper">
        <div class="sign-in-logo">
            <a href="/" class="sign-in-logo__link">
                <img src="img/logo.svg" alt="logo" class="sign-in-logo__img">
            </a>
        </div>
        <div class="sign-in-block">
            <div class="sign-in-title">
                <h1 class="sign-in-title__text">Sing In</h1>
            </div>
            <form class="sign-in-form" name="signInForm">
                  <!--ng-submit="signInForm.$valid && $ctrl.signIn($ctrl.user)"-->
                  <!--novalidate="novalidate">-->
                <input class="sign-in-form__mail"
                       ng-model="$ctrl.user.email"
                       type="email"
                       placeholder="E-mail"
                       required="required">
                <input class="sign-in-form__password"
                       ng-model="$ctrl.user.password"
                       type="password"
                       placeholder="Password"
                       required="required">
                <input
                        class="sign-in-form__button"
                        ng-disabled="signInForm.$invalid"
                        type="submit"
                        value="Sign In">
            </form>
            <p class="sign-in__text">Don't have an account?<a class="sign-in__link" ui-sref="profile.sign-up" href="">Sign Up</a></p>

            <a href="" ng-click="$ctrl.sub()">Link</a>

        </div>
    </div>
</div>


