/* @IMPORT
 ========================= */
/* FONTS
 ========================= */
/* COLOR
 ========================= */
/* BACKGROUND-COLOR
 ========================= */
/* BORDER-COLOR
 ========================= */
/* BOX-SHADOW
 ========================= */
/* FONT-SIZE
 ========================= */
/* MEDIA
 ========================= */
/* FONTS-FACE
 	@include font-face('FontAwesome', '../fonts/FontAwesome/fontawesome-webfont', normal, normal, eot woff2 woff ttf svg);
 ========================= */
/* PX in REM
 	@include rem(lh, 12, 16);
	@include rem(fs, 12, 16);
 ========================= */
/* PSEUDO
	@include pseudo(block, absolute, ' ');
 ========================= */
/* CLEARFIX
	@include clearfix()
 ========================= */
/* PLEACEHOLDER
	@include placeholder(red, normal, none)
 ========================= */
/* LIST-CLEAR
	@include list-clear()
 ========================= */
/* @IMPORT MEDIA
 ========================= */
/* @IMPORT
 ========================= */
/* FONTS
 ========================= */
/* COLOR
 ========================= */
/* BACKGROUND-COLOR
 ========================= */
/* BORDER-COLOR
 ========================= */
/* BOX-SHADOW
 ========================= */
/* FONT-SIZE
 ========================= */
/* MEDIA
 ========================= */
/* FONTS-FACE
 	@include font-face('FontAwesome', '../fonts/FontAwesome/fontawesome-webfont', normal, normal, eot woff2 woff ttf svg);
 ========================= */
/* PX in REM
 	@include rem(lh, 12, 16);
	@include rem(fs, 12, 16);
 ========================= */
/* PSEUDO
	@include pseudo(block, absolute, ' ');
 ========================= */
/* CLEARFIX
	@include clearfix()
 ========================= */
/* PLEACEHOLDER
	@include placeholder(red, normal, none)
 ========================= */
/* LIST-CLEAR
	@include list-clear()
 ========================= */
/* DESKTOP FIRST METHOD
 ========================= */
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/* MOBILE FIRST METHODD
 ========================= */
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/* @IMPORT ANIMATE
 ========================= */
[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all .5s ease-in-out; }

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
          transform: scale3d(0.5, 0.5, 0.5); }

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1); }

[ui-view].ng-leave {
  opacity: 1;
  padding-left: 0px;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

[ui-view].ng-leave-active {
  opacity: 0;
  padding-left: 100px;
  -webkit-transform: translate3d(100px, 0, 0);
          transform: translate3d(100px, 0, 0); }
