

<div class="profile">
    <div class="profile-wrapper">
        <div class="profile-logo">
            <a href="/" class="profile-logo__link">
                <img src="img/logo.svg" alt="logo" class="profile-logo__img">
            </a>
        </div>
        <div class="profile-block">
            <div class="profile-title">
                <h1 class="profile-title__text">Sing In</h1>
            </div>
            <form class="profile-form"
                  name="signInForm"
                  ng-submit="signInForm.$valid && $ctrl.heros()"
                  novalidate="novalidate">
                <input class="profile-form__mail"
                       ng-model="$ctrl.profile.email"
                       type="email"
                       placeholder="E-mail"
                       required="required">
                <input class="profile-form__password"
                       ng-model="$ctrl.profile.password"
                       type="password"
                       placeholder="Password"
                       required="required">
                <input
                        class="profile-form__button"
                        ng-disabled="signInForm.$invalid"
                        type="submit"
                        value="Sign In">
            </form>
            <p class="profile__text">Don't have an account?<a class="profile__link" ui-sref="profile.sign-up" href="">Sign Up</a></p>
        </div>
    </div>
</div>


