/* @IMPORT
 ========================= */
@import "../components/_variables";
@import "../helpers/_mixins";


@keyframes ngdialog-flyin {
  0% {
    opacity: 0;
    transform: translateX(-1000px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes ngdialog-flyout {
  0% {
    opacity: 1;
    transform: translateX(-1000);
  }

  100% {
    opacity: 0;
    transform: translateX(1500px);
  }
}


.dialog.ngdialog-closing .ngdialog-content {
    animation: ngdialog-flyout .5s;
}

//
//.dialog {
//  background-color: rgba(0, 0, 0, 0.4);
//}
//
//.ngdialog-overlay {
//  //right: 17px;
//  //overflow: auto;
//  //bottom: auto;
//  //left: auto;
//  //pointer-events: none;
//  display: none;
//  background-color: transparent;
//}
//
.dialog .ngdialog-content {

  animation: ngdialog-flyin .5s;

}

.ngdialog-overlay {
  background-color: rgba(0, 0, 0, 0.3);
}

//.dialog-container {
//
//  background-color: #fff;
//  max-width: 600px;
//}
.dialog {
  text-align: center;
  margin-right: 0;
}

.dialog:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.ngdialog-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  z-index: 10001;
  background-color: transparent;
  max-width: 600px;
  padding: 10px;
}

.ngdialog-no-overlay {
  pointer-events: auto !important;
}


.dialog-container {
  padding-bottom: 20px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.2);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

//.ngdialog {
//  background: rgba(0, 0, 0, 0.4);
//}
//
//.ngdialog-overlay {
//  background-color: transparent;
//  margin-right: 17px;
//  z-index: 20000;
//}
//
//
//
//.ngdialog .ngdialog-content {
//  display: table;
//  height: 100%;
//  width: 100%;
//  background: transparent;
//}
//
//
//.dialog-container {
//  position: relative;
//  display: table-cell;
//  vertical-align: middle;
//  //width: 600px;
//  background: transparent;
//  //box-shadow: 0 5px 15px rgba(0,0,0,0.5);
//  z-index: 30000;
//
//  width: inherit;
//  height: inherit;
//  margin: 0 auto;
//
//}
//
//.dialog-wrapper,
//.dialog-form {
//  background-color: #fff;
//  //max-width: 600px;
//  width: 600px;
//  height: 400px;
//  margin: 0 auto;
//}


.dialog-group-value__text {
  font-family: $Montserrat-regular;
  @include rem(fs, 14, $font-size-mixin);
  @include rem(lh, 16, $font-size-mixin);
  font-weight: 500;
}



.dialog-wrapper {
  text-align: left;
  padding: 20px 20px 0 20px;
  @include clearfix();
}


.dialog-title {

  &__text {
    font-family: $Montserrat-regular;
    @include rem(fs, 22, $font-size-mixin);
    @include rem(lh, 24, $font-size-mixin);
    font-weight: 600;
    margin:0;
  }
}

.dialog-group-value {

  &__text {
    padding: 6px 12px;
    background-color: transparent;
    border: 2px solid $border-e5e5e5;
    outline: none !important;
    transition: 1s all;

    &:focus {
      border-color: $border-777777;
    }
  }


}





.dialog-group {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  @include clearfix();

  &-title {
    float: left;
    display: block;
    width: 25%;
    text-align: right;
    padding: 8px 15px;

    &__text {
      font-family: $Montserrat-regular;
      @include rem(fs, 14, $font-size-mixin);
      @include rem(lh, 16, $font-size-mixin);
      font-weight: 900;
    }
  }

  &-value {
    float: right;
    display: block;
    width: 75%;

    &__text {
      width: 100%;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.dialog-button {
  float: right;

  &__btn {
    font-family: $Montserrat-regular;
    @include rem(fs, 13, $font-size-mixin);
    @include rem(lh, 15, $font-size-mixin);
    font-weight: 100;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    outline: none;
    background-color: transparent;
    transition: 1s all;

    &:hover {
      color: $color-ffffff;
    }

    &--save {
      color: $color-e81a50;
      border: 2px solid $border-e81a50;

      &:hover {
        background-color: $bgc-e81a50;
      }
    }

    &--cancel {
      color: $color-3d3d3d;
      border: 2px solid $border-3d3d3d;

      &:hover {
        background-color: $bgc-3d3d3d;
      }
    }
  }
}



