/* @IMPORT
 ========================= */
@import "../components/_variables";
@import "../helpers/_mixins";

container-project,
.project-container {
  position: relative;
  display: block;
  height: 100%;
}

.header {
  position: relative;
  padding: 5px 15px 0 15px;
  background-color: $bgc-ffffff;
  box-shadow: 0px 5px 5px 0px $bs-c9c9c9;
  @include clearfix();
}

.header-logo {
  float: left;
  height: 45px;
  margin: 0 30px 5px 0;

  &__link {
    position: relative;
    display: block;
    height: 100%;
  }

  &__title {
    position: absolute;
    top: -99999px;
    left: -99999px;
  }

  &__img {
    display: block;
    width: auto;
    height: 100%;
  }
}

.header-project {
  float: left;
  margin-top: 22px;

  &__list {
    @include list-clear();
    margin-right: 15px;
  }

  &__item {
    position: relative;
    display: inline-block;

    &.open .header-project__link {
      color: $color-3d3d3d;

      &:after {
        top: calc(50% - 12px);
        border: 4px solid transparent;
        border-bottom-color: $border-3d3d3d;
      }
    }

    &.open >.header-project-dropdown {
      display: block;
    }

  }

  &__link {
    position: relative;
    font-family: $Montserrat-regular;
    @include rem(fs, 12, $font-size-mixin);
    @include rem(lh, 14, $font-size-mixin);
    font-weight: 600;
    display: block;
    color: $color-777777;
    padding: 0 15px 13px 5px;
    text-transform: uppercase;
    text-decoration: none !important;
    transition: 1s all;

    &:after {
      @include pseudo(block, absolute, ' ');
      right: 0;
      top: calc(50% - 8px);
      border: 4px solid transparent;
      border-top-color: $border-777777;
      transition: 1s all;
    }

    &:hover {
      color: $color-3d3d3d;

      &:after {
        border-top-color: $border-3d3d3d;
      }
    }
  }
}

.header-project-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 160px;
  background-color: $bgc-ffffff;
  padding: 11px 0;
  border: 1px solid rgba(0,0,0,0.15);
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  z-index: 9999;

  &__list {
    @include list-clear();
  }

  &__item {
    position: relative;
    display: block;
    white-space: nowrap;

    &:not(:last-child) {
      padding-bottom: 21px;

      &:after {
        @include pseudo(block, absolute, ' ');
        bottom: 10px;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.175);
      }
    }
  }

  &__link {
    font-family: $Montserrat-regular;
    @include rem(fs, 13, $font-size-mixin);
    @include rem(lh, 16, $font-size-mixin);
    font-weight: 600;
    display: block;
    padding: 3px 20px;
    max-width: 200px;
    color: $color-3d3d3d;
    text-decoration: none !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;    
    transition: 1s all;

    &:hover {
      background-color: $bgc-e5e5e5;
    }

    &.active {
      color: $color-ffffff;
      background-color: $bgc-e81a50;
      cursor: default;
    }
  }

}

.header-menu {
  float: left;
  margin-top: 22px;

  &__list {
    @include list-clear();
    margin-right: 15px;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__link {
    font-family: $Montserrat-regular;
    @include rem(fs, 12, $font-size-mixin);
    @include rem(lh, 14, $font-size-mixin);
    font-weight: 600;
    display: block;
    color: $color-777777;
    padding: 0 5px 11px 5px;
    text-transform: uppercase;
    text-decoration: none !important;
    border-bottom: 2px solid transparent;
    transition: 1s all;

    &.active {
      color: $color-3d3d3d;
      border-bottom-color: $border-e81a50;
      cursor: default;
    }

    &:hover {
      color: $color-3d3d3d;
    }
  }
}

.header-setting {
  float: right;
  margin-top: 15px;

  &__list {
    @include list-clear();
  }

  &__item {
    position: relative;
    display: block;

    &.open {
      & .header-setting-dropdown {
        display: block;
      }

      & .header-setting__img {
        opacity: 1;
      }

      & .header-setting__link {
        color: $color-3d3d3d;

        &:after {
          top: calc(50% - 12px);
          border: 4px solid transparent;
          border-bottom-color: $border-3d3d3d;
        }
      }
    }
  }

  &__link {
    position: relative;
    font-family: $Montserrat-regular;
    @include rem(fs, 12, $font-size-mixin);
    @include rem(lh, 14, $font-size-mixin);
    font-weight: 600;
    display: block;
    text-decoration: none !important;
    padding: 0 15px 15px 0;
    color: $color-777777;
    transition: 1s all;

    &:after {
      @include pseudo(block, absolute, ' ');
      right: 0;
      top: calc(50% - 8px);
      border: 4px solid transparent;
      border-top-color: $border-777777;
      transition: 1s all;
    }

  }

  &__img {
    display: inline-block;
    height: 20px;
    vertical-align: sub;
    opacity:0.7;
    transition: 0.5s all;
  }
}

.header-setting-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 160px;
  background-color: $bgc-ffffff;
  padding: 11px 0;
  border: 1px solid rgba(0,0,0,0.15);
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  z-index: 9999;

  &__list {
    @include list-clear();
  }

  &__item {
    position: relative;
    display: block;
    white-space: nowrap;

    &:not(:last-child) {
      padding-bottom: 21px;

      &:after {
        @include pseudo(block, absolute, ' ');
        bottom: 10px;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.175);
      }
    }
  }

  &__link {
    font-family: $Montserrat-regular;
    @include rem(fs, 13, $font-size-mixin);
    @include rem(lh, 16, $font-size-mixin);
    font-weight: 600;
    display: block;
    padding: 3px 20px;
    max-width: 200px;
    color: $color-3d3d3d;
    text-decoration: none !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: 1s all;

    &:hover {
      background-color: $bgc-e5e5e5;
    }
  }

  &__name {
    font-family: $Montserrat-regular;
    @include rem(fs, 14, $font-size-mixin);
    @include rem(lh, 16, $font-size-mixin);
    font-weight: 600;
    color: $color-777777;
    padding: 3px 20px;
    margin: 0;
  }

  &__mail {
    font-family: $Montserrat-regular;
    @include rem(fs, 13, $font-size-mixin);
    @include rem(lh, 16, $font-size-mixin);
    font-weight: 100;
    padding: 3px 20px;
    margin: 0;
  }
}