/* @IMPORT
 ========================= */
@import "../components/_variables";
@import "../helpers/_mixins";

div[ui-view].z-height,
ui-view.z-height {
  height: calc(100% - 71px);
}

project,
.project {
  position: relative;
  display: block;
  height: 100%;
}

.project-create {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.project-create-title {
  text-align: center;
  margin-bottom: 30px;

  &__text {
    font-family: $Montserrat-regular;
    font-weight: 500;
    @include rem(fs, 22, $font-size-mixin);
    @include rem(lh, 24, $font-size-mixin);
    margin: 0 0 10px 0;
  }

  &__description {
    font-family: $Montserrat-regular;
    @include rem(fs, 14, $font-size-mixin);
    @include rem(lh, 16, $font-size-mixin);
    margin: 0;
  }
}

.project-form {

  @include placeholder($color-777777, 300, none);

  &__wrapper {
    width: 100%;
    min-width: 280px;
  }

  &__input {
    font-family: $Montserrat-regular;
    font-weight: 100;
    @include rem(fs, 14, $font-size-mixin);
    @include rem(lh, 16, $font-size-mixin);
    display: block;
    width: 90%;
    padding: 10px;
    margin: 0 auto 10px auto;
    color: $color-777777;
    background-color: transparent;
    border: 1px solid $border-777777;
    border-radius: 3px;
    transition: 0.15s;
    text-align: center;
    outline: none;

    &:focus {
      width: 100%;
      color: $color-777777;
    }

    :-webkit-autofill {
      color: $color-777777 !important;
      text-fill-color: $color-777777 !important;
    }

    &--error.ng-not-empty {
      border-color: $bgc-e81a50;
    }
  }

  &__button {
    font-family: $Montserrat-regular;
    @include rem(fs, 14, $font-size-mixin);
    @include rem(lh, 16, $font-size-mixin);
    display: block;
    width: 90%;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid $border-e81a50;
    border-radius: 3px;
    color: $color-ffffff;
    background-color: $bgc-e81a50;
    transition: 0.25s;
    text-align: center;
    outline: none;
    text-transform: uppercase;
  }
}

.ng-invalid .project-form__button {
  opacity: 0.7;
  cursor: not-allowed;
}

.ng-valid .project-form__button:hover {
  background-color: transparent;
  color: $color-3d3d3d;
}


//project-create {
//  display: block;
//  height: 100%;
//}
//
//.project-create {
//  position: relative;
//  height: 100%;
//  width: 100%;
//  background-color: $bgc-ffffff;
//  overflow: hidden;
//}
//
//.project-create-wrapper {
//  position: relative;
//  display: flex;
//  align-items: center;
//  flex-direction: column;
//  justify-content: center;
//  height: 100%;
//  width: 100%;
//}
//
//.project-create-block {
//  width: 100%;
//  max-width: 600px;
//}
//
//.project-create-title {
//  text-align: center;
//  margin-bottom: 30px;
//
//  &__text {
//    font-family: $Montserrat-regular;
//    font-weight: 500;
//    @include rem(fs, 22, $font-size-mixin);
//    @include rem(lh, 24, $font-size-mixin);
//    color: $color-3d3d3d;
//    margin: 0 0 20px 0;
//  }
//
//  &__description {
//    font-family: $Montserrat-regular;
//    font-weight: 300;
//    @include rem(fs, 14, $font-size-mixin);
//    @include rem(lh, 16, $font-size-mixin);
//    margin: 0;
//  }
//}
//
//.project-create-form {
//  @include placeholder($color-cccccc, 300, none);
//}
//
//.project-create-form__title,
//.project-create-form__description {
//  font-family: $Montserrat-regular;
//  font-weight: 100;
//  @include rem(fs, 14, $font-size-mixin);
//  @include rem(lh, 15, $font-size-mixin);
//  display: block;
//  width: 80%;
//  padding: 10px;
//  margin: 0 auto 10px auto;
//  color: $color-3d3d3d;
//  background-color: transparent;
//  border: 1px solid $border-cccccc;
//  border-radius: 3px;
//  transition: 0.25s;
//  text-align: center;
//  outline: none;
//
//  &:focus {
//    width: 95%;
//    color: $color-3d3d3d;
//  }
//
//  :-webkit-autofill {
//    color: $color-3d3d3d !important;
//    text-fill-color: $color-3d3d3d !important;
//  }
//}
//
//.project-create-form__button {
//  font-family: $Montserrat-regular;
//  @include rem(fs, 14, $font-size-mixin);
//  @include rem(lh, 16, $font-size-mixin);
//  display: block;
//  width: 80%;
//  padding: 10px;
//  margin: 0 auto;
//  border: 1px solid $bgc-e81a50;
//  border-radius: 3px;
//  color: $color-ffffff;
//  background-color: $bgc-e81a50;
//  transition: 0.25s;
//  text-align: center;
//  outline: none;
//  text-transform: uppercase;
//}
//
//.ng-invalid .project-create-form__button {
//  opacity: 0.7;
//  cursor: not-allowed;
//}
//
//.ng-valid .project-create-form__button:hover {
//  background-color: transparent;
//  color: $color-3d3d3d;
//}