/* @IMPORT
 ========================= */
@import "../components/_variables";
@import "../helpers/_mixins";

.thank {
    position: relative;
    height: 100%;
    width: 100%;
    background: $bgc-e81a50;
    background: linear-gradient(to top, $bgc-e81a50 0%, $bgc-3d3d3d 100%);
    overflow: hidden;
}

.thank-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.thank-logo {
    display: block;
    margin-bottom: 40px;

    &__link {
        display: block;
        height: 80px;
        text-decoration: none !important;
    }

    &__img {
        height: 100%;
        width: auto;
    }
}

.thank-title {
    text-align: center;
    margin-bottom: 30px;

    &__text {
        font-family: $Montserrat-bold;
        font-weight: 500;
        @include rem(fs, 30, $font-size-mixin);
        @include rem(lh, 32, $font-size-mixin);
        color: $color-ffffff;
        margin: 0 0 10px 0;
    }

    &__link {
        font-family: $Montserrat-bold;
        @include rem(fs, 14, $font-size-mixin);
        @include rem(lh, 16, $font-size-mixin);
        color: $color-ffffff;
        margin-left: 10px;
    }
}