<header class="header">

    <div class="header-logo">
        <a ng-if="$ctrl.menuListProject" ng-repeat="item in $ctrl.menuListProject | limitTo: 1" ui-sref="project.project-id.tables({projectId:item.$id})" class="header-logo__link">
            <h1 class="header-logo__title">Gandalf</h1>
            <img src="img/logo.svg" alt="Gandalf" class="header-logo__img">
        </a>
        <a ng-if="!$ctrl.menuListProject" ui-sref="project.project-id.create({projectId: 'create'})" class="header-logo__link">
            <h1 class="header-logo__title">Gandalf</h1>
            <img src="img/logo.svg" alt="Gandalf" class="header-logo__img">
        </a>
    </div>

    <div class="header-project"
         ng-if="$ctrl.showMenu">
        <ul dropdown class="header-project__list">
            <li class="header-project__item">
                <a href="" class="dropdown-open header-project__link" ng-bind="$ctrl.projectName"></a>
                <div class=" dropdown header-project-dropdown">
                    <ul class="header-project-dropdown__list">
                        <li ng-repeat="item in $ctrl.menuListProject" class="header-project-dropdown__item">
                            <a class="header-project-dropdown__link"
                               ui-sref="project.project-id.tables({projectId:item.$id})"
                               ng-class="{active: $ctrl.isActive(item.$id)}"
                               ng-bind="item.Info.name"></a>
                        </li>
                        <li class="header-project-dropdown__item">
                            <a class="header-project-dropdown__link"
                               ui-sref="project.project-id.create({projectId:'create'})">+ add new project</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <nav class="header-menu"
         ng-if="$ctrl.showMenu">
        <ul class="header-menu__list">
            <li class="header-menu__item">
                <a href="" class="header-menu__link"
                   ui-sref-active="active"
                   ui-sref="project.project-id.tables({projectId: $ctrl.projectId})">Tables</a>
            </li>
            <li class="header-menu__item">
                <a href="" class="header-menu__link"
                   ui-sref-active="active"
                   ui-sref="project.project-id.setting({projectId: $ctrl.projectId})">Setting</a>
            </li>
            <li class="header-menu__item">
                <a href="" class="header-menu__link"
                   ui-sref-active="active"
                   ui-sref="project.project-id.history({projectId: $ctrl.projectId})">History</a>
            </li>
        </ul>
    </nav>

    <div class="header-setting">
        <ul dropdown class="header-setting__list ">
            <li class="header-setting__item">
                <a href="" class="dropdown-open header-setting__link">
                    <img src="img/profile.png" alt="Profile" class="header-setting__img">
                    <span class="header-setting__text" ng-bind="$ctrl.proName"></span>
                </a>
                <div class="dropdown header-setting-dropdown">
                    <ul class="header-setting-dropdown__list">
                        <li class="header-setting-dropdown__item">
                            <p class="header-setting-dropdown__name" ng-bind="$ctrl.proName"></p>
                            <p class="header-setting-dropdown__mail" ng-bind="$ctrl.proEmail"></p>
                        </li>
                        <li class="header-setting-dropdown__item">
                            <a href="" class="header-setting-dropdown__link"
                            ng-click="$ctrl.openDialog()">Edit profile</a>
                        </li>
                        <li class="header-setting-dropdown__item">
                            <a href="" class="header-setting-dropdown__link"
                               ng-click="$ctrl.signOut($event)">Sign Out</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</header>



<div class="project-wrapper">
    <div class="project-root">
        <div ui-view></div>
        <ul class="bubbles">
            <li class="bubbles__item"></li>
            <li class="bubbles__item"></li>
            <li class="bubbles__item"></li>
            <li class="bubbles__item"></li>
            <li class="bubbles__item"></li>
            <li class="bubbles__item"></li>
            <li class="bubbles__item"></li>
            <li class="bubbles__item"></li>
            <li class="bubbles__item"></li>
            <li class="bubbles__item"></li>
        </ul>
    </div>
</div>


