
/* FONTS
 ========================= */
$Montserrat-regular: 'Montserrat-regular', 'Arial', sans-serif;
$Montserrat-semibold: 'Montserrat-semibold', 'Arial', sans-serif;
$Montserrat-bold: 'Montserrat-bold', 'Arial', sans-serif;

/* COLOR
 ========================= */
$color-ffffff: #ffffff;
$color-cccccc: #cccccc;
$color-3d3d3d: #3d3d3d;

/* BACKGROUND-COLOR
 ========================= */
$bgc-ffffff: #ffffff;
$bgc-3d3d3d: #3d3d3d;
$bgc-e5e5e5: #e5e5e5;
$bgc-e81a50: #e81a50;

/* BOX-SHADOW
 ========================= */
$bs-c9c9c9: #c9c9c9;

/* BORDER
 ========================= */
$border-ffffff: #ffffff;
$border-cccccc: #cccccc;
$border-3d3d3d: #3d3d3d;

/* FONT-SIZE
 ========================= */
$font-size: 14px;
$font-size-mixin: 14;

/* MEDIA
 ========================= */
$phone: 320px;
$phone-landscape: 480px;
$tablet: 768px;
$desktop: 992px;
$site: 1280px;